body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background: #649173;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #DBD5A4, #649173);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #DBD5A4, #649173);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    width: 360px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    margin: 40px auto;
}

.done {
    color: rgb(196, 189, 180);
    text-decoration: line-through;
}

ul {
    list-style: none;
    background-color: rgb(221, 206, 206);
    margin: 0px;
    padding: 0px;
}

li {
    margin: 0px;
    line-height: 40px;
}

li:nth-child(2n) {
    background-color: white;
}

h1 {
    margin: 0;
    padding: 10px;
    background-color: steelblue;
    font-weight: normal;
    color: white;
}

input {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    border: 3px solid white;
}

input:focus {
    outline: none;
    border: 2px solid steelblue;
}

#plus {
    float: right;
}

span {
    background-color: darkred;
    height: 40px;
    margin-right: 20px;
    text-align: center;
    color: white;
    width: 0;
    display: inline-block;
    opacity: 0;
    transition: 0.3s linear;
}

li:hover span {
    width: 40px;
    opacity: 1;
}